{% extends "base.html" %}
{% load static %}

{% block title %}
{{name}}
{% endblock %}
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

{% endblock %}

{% block nav-section %}

<a class="btn  btn-sm btn-secondary" href="{% url 'home' %}" role="button">Go Back</a>

{% endblock %}

{% block content %}
<div class="container msg-box">
    <div class="message-box">
        <h1> Thank You</h1>
        <p> {{message}} </p>
    </div>

</div>
{% endblock %}